* { margin:0; padding:0; box-sizing:border-box; }
body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: url('Images/gym profile.avif') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
    font-family: Poppins, sans-serif;
}

.container {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    padding: 30px 50px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.container h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
}

.input-box input::placeholder {
    color: #fff;
    opacity: 0.7;
}

button {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0b8f38;
    color: #fff;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

a:hover {
    color: #0b8f38;
    text-decoration: underline;
}

p.error {
    text-align: center;
    color: red;
    margin-bottom: 15px;
}