/* ========== GENERAL ========== */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    display: flex;
}

/* ========== SIDEBAR ========== */
.sidebar {
    width: 240px;
    background: #0fae44;
    height: 100vh;
    padding: 20px 0;
    position: fixed;
    color: #fff;
}

.sidebar .logo img {
    width: 160px;
    display: block;
    margin: 0 auto 20px;
}

.sidebar a {
    display: block;
    padding: 14px 25px;
    color: #eaffea;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    background: #0b8f38;
    font-weight: 600;
}

.sidebar a.logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background: #ff4444;
}

/* ========== MAIN CONTENT ========== */
.main {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
}

/* ========== TOPBAR ========== */
.topbar {
    background: #ffffff;
    padding: 15px 30px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* PROFILE */
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* ========== NOTIFICATION ========== */
.notification {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background: red;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

/* dropdown */
.notif-dropdown {
    position: absolute;
    top: 30px;
    right: -20px;
    background: #fff;
    padding: 15px;
    width: 230px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.notification:hover .notif-dropdown {
    display: block;
}

.notif-dropdown p {
    font-size: 14px;
    margin-bottom: 8px;
}

/* ========== CARDS ========== */
.cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #0fae44;
    margin-bottom: 10px;
    font-size: 18px;
}

.card p {
    font-size: 26px;
    font-weight: 700;
}
