
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Images/gym profile.avif') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
}

.container {
    max-width: 420px;
    padding: 30px 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 28px;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    color: #ddd;
}

button {
    width: 100%;
    padding: 12px;
    background: #f6fffb;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #33ff9a;
}

p.error {
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 15px;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #00ff84;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

