  /* ==================== GENERAL ==================== */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        html {
            scroll-behavior: smooth;
        }


        body {
            overflow-x: hidden;
        }

        /* ==================== HERO ==================== */
        .hero {
            height: 100vh;
            width: 100%;
            background-image:
                linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url("Images/gym\ profile\ 2.avif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            position: relative;
        }

        /* ==================== NAVBAR ==================== */
        .navbar {
            width: 100%;
            padding: 0px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* position: sticky;
            top: 0;
            z-index: 999;
            transition: 0.3s; */
        }

        /* LOGO */
        .logo img {
            width: 190px;
            /* Bigger logo */
            max-width: 200px;
        }

        /* DESKTOP MENU */
        .hero-name {
            color: #32cc11;
        }

        .menu a {
            margin: 0 18px;
            text-decoration: none;
            color: #dfffdf;
            font-weight: 500;
            font-size: 16px;
            transition: 0.3s;
        }

        .menu a:hover {
            color: #32cc11;
            ;
        }

        /* JOIN BUTTON */
        .join {
            background: #32cc11;
            padding: 10px 25px;
            border-radius: 25px;
            font-weight: 600;
            color: #ffffff;
            cursor: pointer;
            transition: 0.3s;
        }

        .join:hover {
            background: #33ed40;
        }

        /* ==================== HAMBURGER ==================== */
        .hamburger {
            display: none;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }

        /* ==================== MOBILE MENU ==================== */
        .mobile-menu {
            display: none;
            flex-direction: column;
            background: rgba(45, 230, 45, 0.95);
            position: absolute;
            top: 80px;
            /* Top, separate from hero */
            width: 100%;
            padding: 20px 0;
            text-align: center;
            z-index: 998;
        }

        .mobile-menu a {
            color: #dfffdf;
            text-decoration: none;
            padding: 12px 0;
            font-size: 18px;
            display: block;
        }

        .mobile-menu a:hover {
            color: #00ff66;
        }

        .mobile-join {
            margin-top: 10px;
            padding: 10px 25px;
            background: #32cc11;
            color: rgb(255, 248, 248);
            border-radius: 20px;
            border: none;
            font-size: 17px;
        }

        .mobile-menu.show {
            display: flex;
        }

        /* ==================== HERO TEXT ==================== */
        .hero-text {
            position: absolute;
            top: 60%;
            /* Text lower for aesthetic */
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            width: 90%;
            z-index: 1;
            /* Ensure below mobile menu */
        }

        .gym-name {
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 2px;
            padding-top: 30px;
        }

        .hero-text p {
            font-size: 18px;
            margin: 15px 0 25px;
        }

        .joininfo {
            background: #32cc11;
            padding: 12px 30px;
            border: none;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;
            color: white;
        }

        .joininfo:hover {
            background: #33ed40;
        }

        /* ==================== RESPONSIVE ==================== */
        @media (max-width: 850px) {

            .menu,
            .join {
                display: none;
            }

            .hamburger {
                display: block;
            }

            .gym-name {
                font-size: 45px;
            }

            .hero-text {
                top: 65%;
                /* Lower for smaller screens */
            }

            .hero-text p {
                font-size: 16px;
            }
        }

        @media (max-width: 500px) {

            .gym-name {
                font-size: 32px;
            }

            .hero-text {
                top: 68%;
                width: 95%;
            }
        }

        /* about section css */


        .about-section {
            background-color: #1e1e1e;
            color: #fff;
            padding: 80px 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .about-container {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            align-items: center;
        }

        .about-images {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 250px);
            gap: 15px;
            position: relative;
        }

        .about-images img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        .about-images .middle-img {
            grid-column: span 3;
            height: 300px;
        }

        .about-content {
            flex: 1;
            min-width: 350px;
        }


        .about-content h4 {

            color: #32cc11;
            font-size: 25px;
            margin-bottom: 10px;
            display: inline-block;
            /* important */
            padding-bottom: 3px;
            /* thap spacing for underline */
            transition: border-color 0.2s ease;

        }

        .about-content h4:hover {
            border-bottom: 4px solid #36c715;
            /* underline effect */
            cursor: pointer;

        }


        .about-content h2 {
            font-size: 28px;
            line-height: 1.4;
            margin-bottom: 20px;
        }

        .about-content h2 span {
            color: #32cc11;
        }

        .about-content p {
            color: #ccc;
            margin-bottom: 15px;
            line-height: 1.6;
            font-size: 16px;
        }

        .about-features {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }

        .about-features div h5 {
            color: #999;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .about-features div p {
            font-size: 16px;
            color: #fff;
            font-weight: bold;
        }

        /* classes section css */

        .classes-section {
            background-color: #0f0f0f;
            color: #fff;
            padding: 80px 10%;
            text-align: center;
        }

        .classes-section .section-title {
            font-size: 32px;
            color: #32cc11;
            margin-bottom: 10px;
        }

        .classes-section .section-subtitle {
            font-size: 18px;
            color: #ccc;
            margin-bottom: 50px;
        }

        .classes-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        .class-card {
            background-color: #1e1e1e;
            border-radius: 10px;
            overflow: hidden;
            width: 250px;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .class-card img {
            width: 100%;
            height: 250px;
            ;
            object-fit: cover;
        }

        .class-card h3 {
            color: #32cc11;
            font-size: 20px;
            margin: 15px 10px 5px 10px;
        }

        .class-card p {
            color: #ccc;
            font-size: 14px;
            margin: 0 10px 15px 10px;
            line-height: 1.4;
        }

        .class-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(130, 232, 99, 0.2);
            cursor: pointer;
        }




        /* ===============================
   TRAINERS SECTION
   =============================== */
        .trainers-section {
            text-align: center;
            padding: 60px 20px;
            background-color: #1e1e1e;
            color: #fff;
        }

        .trainers-section {
            text-align: center;
            padding: 60px 20px;
            background-color: #1e1e1e;
            color: #fff;
        }

        .trainers-section .section-title {
            font-size: 2em;
            color: #32cc11;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .trainers-section .section-subtitle {
            color: #aaa;
            margin-bottom: 40px;
            font-size: 1rem;
        }

        .trainers-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 25px;
            max-width: 1200px;
            margin: auto;
        }

        .trainer-card {
            background-color: #1a1a1a;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            transition: 0.3s;
        }

        .trainer-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(130, 232, 99, 0.2);
        }

        .trainer-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 15px rgba(101, 239, 99, 0.3);
        }


        .trainer-card img {
            width: 100%;
            height: 250px;
            border-radius: 10px;
            object-fit: cover;
            object-position: top;
        }

        .trainer-card h3 {
            margin-top: 15px;
            color: #fff;
            font-size: 1.3rem;
        }

        .trainer-card .trainer-role {
            color: #32cc11;
            font-weight: bold;
            font-size: 0.95rem;
            margin: 8px 0;
        }

        .trainer-card p {
            color: #ccc;
            font-size: 0.9rem;
            line-height: 1.4;
        }

        /* Responsive */
        @media (max-width: 600px) {
            .trainers-container {
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }




        /* Subscription Section */
        .subscription-section {
            padding: 80px 0;
            text-align: center;
            /* background: #0a0f1e; */
            background-color: #0f0f0f;
            ;
            color: #fff;
        }

        .subscription-section .section-title {
            font-size: 36px;
            margin-bottom: 10px;
        }

        .subscription-section .section-subtitle {
            color: #bbbbbb;
            margin-bottom: 40px;
        }

        .pricing-container {
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;
        }

        .pricing-card {
            background: #111726;
            padding: 30px;
            width: 300px;
            border-radius: 15px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: 0.3s;
            position: relative;
        }

        .pricing-card:hover {
            transform: translateY(-10px);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
        }

        .pricing-card h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .price {
            font-size: 32px;
            margin-bottom: 20px;
        }

        .price span {
            color: #bbb;
            font-size: 14px;
        }

        .pricing-card ul {
            list-style: none;
            padding: 0;
            margin: 0 0 25px;
        }

        .pricing-card ul li {
            margin: 10px 0;
            color: #ddd;
        }

        /* Button */
        .price-btn {
            background: #32cc11;
            border: none;
            color: #fff;
            padding: 12px 25px;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
        }

        .price-btn:hover {
            background: #32cc11;
        }

        /* Popular Tag */
        .popular {
            border: 2px solid #32cc11;
        }

        .tag {
            position: absolute;
            top: -10px;
            right: 10px;
            background: #32cc11;
            color: #fff;
            padding: 5px 12px;
            font-size: 12px;
            border-radius: 20px;
        }

        /* ======================= */
        /* Horizontal Testimonials */
        /* ======================= */

        .section-title {
            font-size: 36px;
            margin-bottom: 10px;
            color: #32cc11;
        }

        .section-subtitle {
            color: white;
        }

        .testimonials {
            padding: 50px 0;
            background-color: #1e1e1e;
            text-align: center;
        }


        .testimonial-wrapper {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            overflow: hidden;
            padding: 20px 0;
        }

        .testimonial-card {
            min-width: 340px;
            /* Medium size */
            max-width: 340px;
            /* background: #fff; */
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: 0.3s;
            border: 0.9px solid green;
            color: #fff;
        }

        .testimonial-card:hover {
            transform: translateY(-5px);
        }

        .t-img {
            width: 100%;
            height: 200px;
            /* border-radius: 50%; */
            object-fit: cover;
            margin-bottom: 10px;
            object-position: top;
        }

        .stars {
            color: #f1c40f;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .testimonial-card p {
            font-size: 14px;
            color: #fff;
            line-height: 1.5;
        }

        /* Mobile */
        @media (max-width: 600px) {
            .testimonial-card {
                min-width: 250px;
                max-width: 250px;
            }
        }


        /* Gallery Css */
        .gallery {
            padding: 40px 20px;
            text-align: center;
            background: #0f0f0f;
        }

        .gallery h2 {
            font-size: 32px;
            margin-bottom: 20px;
            color: #32cc11;
        }

        .gallery-container {
            display: grid;
            /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .gallery-container .item {
            overflow: hidden;
            border-radius: 10px;
        }

        .gallery-container .item img {
            width: 100%;
            height: 100%;
            display: block;
            transition: 0.3s ease;
        }

        .gallery-container .item img:hover {
            transform: scale(1.1);
        }


        /* Footer Section */

        /* Footer main */
        .footer {
            background: #1e1e1e;
            padding: 70px 0 30px;
            color: #e8e8e8;
            /* border-top: 3px solid #00ff88; */
        }

        .footer-container {
            width: 90%;
            max-width: 1250px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 40px;
        }

        /* Headings */
        .footer-section h3,
        .footer-section h4 {
            margin-bottom: 18px;
            color: #32cc11;
            font-size: 27px;
        }

        /* Paragraph text */
        .footer-section p {
            line-height: 1.6;
            font-size: 15px;
            color: #cfcfcf;
        }

        /* Lists */
        .footer-section ul {
            list-style: none;
            padding: 0;
        }

        .footer-section ul li {
            margin-bottom: 10px;
            font-size: 15px;
        }

        .footer-section ul li a {
            text-decoration: none;
            color: #ffffff;
            transition: 0.3s;
        }

        .footer-section ul li a:hover {
            color: #2a9612;
            padding-left: 5px;
        }

        /* Social icons */
        .social-icons a {
            color: #fff;
            /* default white */
            font-size: 29px;
            margin-right: 15px;
            transition: 0.2s;
        }

        .social-icons a:hover {
            color: #1cbe2c;
            /* neon green hover */
            transform: scale(1.2);
        }


        /* Footer bottom */
        .footer-bottom {
            margin-top: 40px;
            padding-top: 20px;
            text-align: center;
            border-top: 3px solid #32cc11;
        }

        .footer-bottom p {
            font-size: 14px;
            color: #ffffff;
        }