 * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;

        }

        .navbar {

            display: flex;
            width: 100%;
            height: 60px;
            border-radius: 5px;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1000;
           

        }

        .logo {
            height: 100%;
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: large;
            font-weight: 700;

        }

        .menu {
            color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 70%;
            font-weight: 700;
        }

        .menu a {
            color: white;
            margin: 0 15px;
            font-weight: bold;
            transition: 0.1s;
            text-decoration: none;
            font-size: large;

        }

        .menu a:hover {


            border-bottom: 4px solid #36c715;
            /* underline jasto effect */
            cursor: pointer;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;

        }

        .join {
            height: 50px;
            width: 10%;
            background-color: #32cc11;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 800;
            font-style: initial;
            font-size: medium;
            border-radius: 30px;
            margin-top: 5px;

        }

        .join:hover {
            background: #1c8b03;
        }

        .hero {
            width: 100%;
            height: 700px;
            /* adjust garna milcha */
            background-image:
                linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url("/gym profile 2.avif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;


        }

        .hero img {
            height: 100%;
        }



        .hero-text {
            margin-top: 280px;
            margin-left: 80px;
        }

        .gym-name {
            color: white;
            font-weight: 800;
            text-decoration-thickness: bold;
            font-size: large;
        }

        .hero-text p {
            color: white;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.4;
            /* spacing adjust */
            margin: 0;
            /* remove default top/bottom margin */
            padding-top: 5px;
        }


        .joininfo {

            height: 50px;
            width: 10%;
            background-color: #32cc11;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 800;
            font-style: initial;
            font-size: medium;
            border-radius: 30px;
            margin-top: 30px;
            margin-left: 160px;
            border: none;
            outline: none;
            text-decoration: none;
        }

        .joininfo:hover {
            background: #1c8b03;
        }

        .joininfo a {
            color: #fff;
            text-decoration: none;
        }

        .joininfo:focus {
            outline: none;
            box-shadow: none;
        }