 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url('/Images/gym\ profile.avif') no-repeat center center;
            background-size: contain;
            
            
        } */
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: url('/Images/gym\ profile.avif') no-repeat center center;
     background-size: contain;
     background-attachment: fixed;
     background-color: #000;
 }

 .container {
     width: 420px;
     border: 2px solid rgba(255, 255, 255, 0.1);
     color: white;
     border-radius: 10px;
     padding: 30px 50px;
     background: rgba(0, 0, 0, 0.4);
     backdrop-filter: blur(1.5px);
 }

 .container h2 {
     text-align: center;
     font-size: 35px;
 }

 .container .input-box {
     position: relative;
     width: 100%;
     height: 50px;
     margin: 30px 0px;
 }

 .input-box input {
     width: 100%;
     height: 100%;
     border-radius: 5px;
     background: transparent;
     border: none;
     outline: none;
     border: 2px solid rgba(255, 255, 255, 0.2);
     color: #fff;
     padding: 20px 45px 20px 20px;
 }

 .input-box input::placeholder {
     color: #fff;
 }

 .container .btn {
     width: 100%;
     height: 50px;
     background: #fff;
     outline: none;
     border: none;
     border-radius: 9px;
     cursor: pointer;
     font-weight: 700;
     font: 1em sans-serif;
     color: #333;
 }

 .container .login-link {
     font-size: 15px;
     text-align: center;
     margin: 20px 0px 20px;
 }

 .container .login-link a {
     text-decoration: none;
     color: #fff;
 }

 .container .login-link a:hover {
     text-decoration: underline;
 }